page-login {
	ion-content{
		background-color: #ffffff !important;
	}
	
	h1 {
		font-style: bold;
	}
	
	form {
		margin-top: 30px;
		margin-bottom: 40px;
	}
	a {
		cursor: pointer;
	}
	
	.logo {
		height: auto;
		width: auto;
	}
	
	.error-message .item-inner {
    	border-bottom: 0 !important;
		margin: 0px;
  	}
	
	.invalid {
    	border-bottom: 1px solid #FF6153;
  	}
	
	.signin {
		width: 120px;
//		margin-top: 25px;
		border-radius: 12px;
	}
}
