// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

ion-content {
    background-color: #EFEFEF !important;
    font-family: 'Raleway';
}

ion-label,
ion-header {
    font-family: 'Raleway';
    font-size: 16px;
}

ion-toolbar {
    max-height: 12px;
    text-align: center;
}

ion-select,
ion-input,
ion-textarea {
    font-size: 16px;
}

ion-item-options {
    button{
      width: 100px;
    }
}





.toolbar {
    .icon {
    	color: black;
	}
}
.toolbar-background {
    background-color: color($colors, primary);
}

.toolbar-title {
    color: black;
}

.custom-icon {
    display: inline-block;
    font-size: 15px;
    color: color($colors, primary);
    vertical-align: middle;
    
}
   
.icon-text{
    display: inline-block;
    vertical-align: middle;
}

.alert-danger {
    color: color($colors, danger);

    button {
        color: color($colors, danger);
    }
}

.roundedPic {
    margin: 5px;
    width: 150px;
    height: 150px;
    //-webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.item_image {
    width: 100%;
    height: auto;
}

.menu{
    $menu-md-background:black;
    text-align: center;
    align-items: center;
    background: black;
    opacity: 80%;
}


.hide-card {
    -webkit-box-shadow: none!important;
  }

  


