 <ion-menu [content]="content">
    <ion-item text-center>
        <img src="../assets/imgs/waspLogo.png" class="roundedPic">
        <h1 id = 'name'>{{firstname}}</h1>
     
    </ion-item>

    <button  ion-item menuClose *ngFor = 'let p of pages' (click)= 'openPage(p)'>
        <ion-icon  name="person" padding></ion-icon>
            Profile
    </button>


    <button  ion-item menuClose *ngFor = 'let p of pages' (click)= 'openPage(p)'>
        <ion-icon  name="card" padding></ion-icon>
            Payment Options
    </button>

    <button  ion-item menuClose *ngFor = 'let p of pages' (click)= 'openPage(p)'>
        <ion-icon  name="settings" padding></ion-icon>
            Edit Profile
    </button>

    <button  ion-item>
        <ion-icon  name="key" padding></ion-icon>
            Logout
    </button>

</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>




