
<ion-header>

    <ion-navbar color = "primary">
      <ion-title>Sign Up</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
    <div text-center>
       <img class="logo" src="assets/imgs/LogoTrans.png"/>
    </div>
  
    <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input formControlName="email" type="email"
          [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
      </ion-item>
  
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
        <p>Please enter a valid email address</p>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password"
          [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
      </ion-item>
  
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
        <p>Passwords should be longer than 6</p>
      </ion-item>

  
    
      <button class="signup" ion-button block type="submit">
        Create Account
      </button>
      
    </form>
  
   <p text-center>Already have an account? <a (click)="goToLogin()">Sign in!</a></p>
  
  </ion-content>