  
   <ion-header>
      <ion-navbar>
        <button ion-button start ion-button icon-only menuToggle>
          <ion-icon  name ='menu'>
          </ion-icon>
        </button>
        <ion-title end>Create Bets</ion-title>
      </ion-navbar>
 
  </ion-header>


<ion-content padding text-center>

    <ion-list>
        <ion-item>
            <ion-label floating>Select Type of Bet</ion-label>
          <ion-select [(ngModel)] = 'Bet.betType' >
              <ion-option *ngFor = " let bet of typesOFBets; let i = index" [value] = 'typesOFBets[i]' > 
           
                  {{bet}}
           
              </ion-option>
    
          </ion-select>
        </ion-item>
        
      </ion-list>

    <ion-list>
        <ion-item>
            <ion-label floating>Select Opponent</ion-label>
          <ion-select [(ngModel)] = 'Bet.oppUser' >
            <ion-option *ngFor= "let friend of friendsList; let i = index" [value] = "i">
           
        
                  {{friend.firstname}} {{friend.lastname}}
                  
          
          </ion-option>
            
          </ion-select>
        </ion-item>
        
      </ion-list>


  <ion-list>
    <ion-item>
        <ion-label floating>Select League</ion-label>
      <ion-select [(ngModel)] = 'Bet.league'>
          <ion-option *ngFor = " let league of leagues; let i = index" [value] = 'leagues[i]'  > 
            
            <ion-item >
              {{league}}
            </ion-item>
          </ion-option>

      </ion-select>
    </ion-item>
    
  </ion-list>

  

  <ion-list>
      <ion-item>
          <ion-label floating>Select Game</ion-label>
        <ion-select [(ngModel)] = 'Bet.game' (ionChange)= 'selectTeam()'>
            <ion-option  *ngFor = " let game of games; let i = index" [value]='i'> 
              
           
                {{game.team1}} vs {{game.team2}}
        
            </ion-option>
  
        </ion-select>
      </ion-item>
      
    </ion-list>

    <ion-list>
      <ion-item>
          <ion-label floating>Select Winning Team</ion-label>
        <ion-select [(ngModel)] = 'Bet.usersTeam'>
            <ion-option *ngFor = " let team of selectableTeams; let i = index" [value]='i'> 
              
       
                {{team}}
      
            </ion-option>
  
        </ion-select>
      </ion-item>
      
    </ion-list>

      <ion-item>
          <ion-label floating>Enter amount
             
          </ion-label>
    <ion-input [(ngModel)] ='Bet.amount' type='number' floating input-number>

    </ion-input>

  </ion-item>
  <p> 
  <button ion-button (click)="createBet()" >Place Bet</button>
</p>


</ion-content>
